/*
//////////////////////////////////////////////////
Variables
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
$baseline: 1.5;
$color-dark: #333;
$color-mid: #999;
$color-light: #ddd;
$font-stack: 'Open Sans', sans-serif;
$transition-duration: 300ms;

/*
//////////////////////////////////////////////////
Open Sans Import
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);



/*
//////////////////////////////////////////////////
CSS Reset
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}body{ line-height:1}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{ display:block}nav ul{ list-style:none}blockquote,q{ quotes:none}blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none}a{ margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent}ins{ background-color:#ff9; color:#000; text-decoration:none}mark{ background-color:#ff9; color:#000; font-style:italic; font-weight:bold}del{ text-decoration:line-through}abbr[title],dfn[title]{ border-bottom:1px dotted #000; cursor:help}table{ border-collapse:collapse; border-spacing:0}hr{ display:block; height:1px; border:0;  border-top:1px solid #ccc; margin:1em 0; padding:0}input,select{ vertical-align:middle}



/*
//////////////////////////////////////////////////
General
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

* {
	box-sizing: border-box;
}

body {
	color: $color-dark;
	font: 400 120% / #{$baseline} $font-stack;
	transition: font-size $transition-duration;
}

.container {
	margin: 0 auto;
	max-width: 40em;
	padding: #{$baseline * 2}em;
}

hr {
	background: $color-dark;
	border: none; 
	height: 3px;
	margin-bottom: #{$baseline * 2}em;
}

::-moz-selection {
	background: $color-dark !important;
	color: #fff !important;
	text-shadow: none !important;
}

::selection {
	background: $color-dark !important;
	color: #fff !important;
	text-shadow: none !important;
}

@media (max-width: 50em) {
	body {
		font-size: 100%;
	}
}

@media (max-width: 30em) {
	body {
		font-size: 80%;
	}

	.container {
		padding: #{$baseline}em
	}
}



/*
//////////////////////////////////////////////////
Typography
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

h1 {
	font-size: 3em;
	font-weight: 600;
	letter-spacing: -0.05em;
	line-height: 1;
	margin-bottom: 0.1em;
}

h2 {
	color: $color-dark;
	font-size: 1.3em;
	font-weight: 400;
	line-height: 1;
	margin-bottom: #{$baseline}em;
}



/*
//////////////////////////////////////////////////
Form
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

form {
	margin-bottom: #{$baseline * 2}em;
}

label {
	display: block;
	position: relative;
}

textarea,
input {
	border: 2px solid $color-light;
	color: $color-mid;
	display: block;
	font: 400 1.1em/1 $font-stack;
	margin: 0 0 0.5em;
	padding: 1em 1.25em;
	width: 100%;
	transition: 
		border-color $transition-duration, 
		color $transition-duration
	;
	&:focus {
		border-color: $color-dark;
		color: $color-dark;
		outline: none;
	}
}

textarea {
	margin: 0;
	min-height: #{$baseline * 5}em;
	line-height: $baseline;
	overflow: auto;
	resize: vertical;
}

.arrow {
	border-top: 9px solid $color-light;
	border-right: 9px solid $color-light;
	border-bottom: 9px inset transparent;
	border-left: 9px inset transparent;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	transition: border-color $transition-duration;
}

input:focus + .arrow,
textarea:focus + .arrow {
	border-top-color: $color-dark;
	border-right-color: $color-dark;
}