@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
/* line 27, style.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 27, style.scss */
body {
  line-height: 1;
}

/* line 27, style.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 27, style.scss */
nav ul {
  list-style: none;
}

/* line 27, style.scss */
blockquote, q {
  quotes: none;
}

/* line 27, style.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 27, style.scss */
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 27, style.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 27, style.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 27, style.scss */
del {
  text-decoration: line-through;
}

/* line 27, style.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* line 27, style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 27, style.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 27, style.scss */
input, select {
  vertical-align: middle;
}

/* line 35, style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 39, style.scss */
body {
  color: #333333;
  font: 400 120% / 1.5 "Open Sans", sans-serif;
  -webkit-transition: font-size 300ms;
  transition: font-size 300ms;
}

/* line 45, style.scss */
.container {
  margin: 0 auto;
  max-width: 40em;
  padding: 3em;
}

/* line 51, style.scss */
header {
  float: left;
  width: 60%;
}

/* line 56, style.scss */
::-moz-selection {
  background: #333333 !important;
  color: #fff !important;
  text-shadow: none !important;
}

/* line 62, style.scss */
::selection {
  background: #333333 !important;
  color: #fff !important;
  text-shadow: none !important;
}

/* line 68, style.scss */
.fade {
  opacity: 0;
  position: relative;
  top: -10px;
  -webkit-transition: opacity 600ms, top 600ms;
  transition: opacity 600ms, top 600ms;
}

/* line 78, style.scss */
.fade-load {
  opacity: 1;
  top: 0;
}

@media (max-width: 50em) {
  /* line 84, style.scss */
  body {
    font-size: 100%;
  }

  /* line 88, style.scss */
  header {
    float: none;
    width: auto;
  }
}
@media (max-width: 30em) {
  /* line 95, style.scss */
  body {
    font-size: 90%;
  }

  /* line 99, style.scss */
  .container {
    padding: 1.5em;
  }
}
/* line 110, style.scss */
h1 {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: -0.05em;
  line-height: 1;
  margin-bottom: 0.1em;
}

/* line 118, style.scss */
h2 {
  color: #333333;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.125em;
}

/* line 126, style.scss */
h3 {
  clear: both;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.75em;
}

/* line 134, style.scss */
p {
  font-size: 0.9em;
  margin-bottom: 1.875em;
}

/* line 139, style.scss */
a {
  border-bottom: 1px solid #dddddd;
  color: #333333;
  text-decoration: none;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

/* line 147, style.scss */
a:hover,
a:focus {
  color: #999999;
}

/* line 157, style.scss */
form {
  margin-bottom: 2.25em;
}

/* line 161, style.scss */
label {
  display: block;
  position: relative;
}

/* line 167, style.scss */
textarea,
input {
  border: 2px solid #dddddd;
  border-radius: 0;
  color: #999999;
  display: block;
  font: 400 1em/1 "Open Sans", sans-serif;
  margin: 0 0 0.5em;
  padding: 1em 1.25em;
  width: 100%;
  -webkit-transition: border-color 300ms, color 300ms;
  transition: border-color 300ms, color 300ms;
  -webkit-appearance: none;
}
/* line 181, style.scss */
textarea:focus,
input:focus {
  border-color: #333333;
  color: #333333;
  outline: none;
}

/* line 188, style.scss */
textarea {
  margin: 0;
  min-height: 7.5em;
  line-height: 1.5;
  overflow: auto;
  resize: vertical;
}

/* line 196, style.scss */
.arrow {
  border-top: 9px solid #dddddd;
  border-right: 9px solid #dddddd;
  border-bottom: 9px inset transparent;
  border-left: 9px inset transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: border-color 300ms;
  transition: border-color 300ms;
}

/* line 209, style.scss */
input:focus + .arrow,
textarea:focus + .arrow {
  border-top-color: #333333;
  border-right-color: #333333;
}

@media (max-width: 30em) {
  /* line 216, style.scss */
  textarea,
  input {
    font-size: 1.3em;
  }
}
/* line 226, style.scss */
.buttons {
  margin-bottom: 2.25em;
}

/* line 230, style.scss */
.button {
  background: #333333;
  color: #fff;
  display: block;
  float: left;
  font-size: 1em;
  font-weight: 600;
  padding: 1.5em 1.125em;
  text-align: center;
  -webkit-transition: background 300ms;
  transition: background 300ms;
  width: 49%;
}

/* line 243, style.scss */
.button:last-child {
  float: right;
}

/* line 248, style.scss */
.button:hover,
.button:focus {
  background: #999999;
  color: #fff;
}

@media (max-width: 30em) {
  /* line 255, style.scss */
  .button,
  .button:last-child {
    border: none;
    float: none;
    margin-bottom: 0.75em;
    width: auto;
  }
}
/* line 269, style.scss */
.code-wrap {
  margin-bottom: 3em;
}

/* line 273, style.scss */
pre {
  display: block;
  margin-bottom: 1.125em;
}

/* line 278, style.scss */
pre:last-child {
  margin-bottom: 0;
}

/* line 282, style.scss */
code {
  background: #eee;
  color: #333333;
  display: block;
  font-size: 0.9em;
  overflow: auto;
  padding: 1.875em 1.875em;
  -webkit-overflow-scrolling: touch;
}

/* line 292, style.scss */
code span {
  color: #999999;
}

/* line 302, style.scss */
footer {
  border-top: 2px solid #dddddd;
  padding-top: 2.25em;
}

/* line 307, style.scss */
footer p {
  font-size: 0.8em;
  margin-bottom: 0;
}

/* line 318, style.scss */
body::-webkit-scrollbar {
  width: 15px;
}

/* line 322, style.scss */
body::-webkit-scrollbar-track {
  background: #dddddd;
}

/* line 326, style.scss */
body::-webkit-scrollbar-thumb {
  background: #333333;
}

/* line 330, style.scss */
body::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

/* line 341, style.scss */
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

/* line 346, style.scss */
.clearfix:after {
  clear: both;
}

/* line 350, style.scss */
.clearfix {
  zoom: 1;
}

/* line 360, style.scss */
body .one .bsa_it_ad {
  background: #fff;
  border: 2px solid #dddddd;
  float: right;
  margin-bottom: 1.125em;
  width: 35%;
}

/* line 368, style.scss */
body .one .bsa_it_t {
  clear: both;
}

@media (max-width: 50em) {
  /* line 373, style.scss */
  body .one .bsa_it_ad {
    float: none;
    width: auto;
  }
}
